.auth {
  float: right;
  line-height: 35px;
  height: 35px;
}

#user_bar, #main_middle, #top_pic {
  width: 80%;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

#top_pic {
  height: 200px;
  background-color: #0f0f00;
}

#ver_bar_left {
  float: left;
  width: 20%;
}

#ver_table_left {
  /* border-right: black 2px solid; */
  border-collapse: collapse;
}

.td_left {
  line-height: 30px;
  height: 50px;
  border-top: black 1px dashed;
  border-bottom: black 1px dashed;
  border-right: black 2px solid;
  background-color: red;
}

#mid_content {
  width: 60%;
}

#tab_piz {
  border-right: None;
  background-color: white;
}
