<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div id="top">
    <div id="user_bar">
      <span style="float: left; line-height: 35px; height: 35px;">Welcome to PizzaJoint!</span>
      {% block body1 %}
      {% endblock %}
    </div>
    <div id="top_pic">
    </div>
  </div>
  <div id="main">
    <div id="main_middle">
    {% block body2 %}
    {% endblock %}
    {% block body3 %}
    {% endblock %}
    </div>


  </div>

<script src="{% static 'js/index.js' %}"></script>

<template id="regular_pizza_tem">
  <tr>
    <td>
      <h5>Regular Pizza</h5>
      <span>Size:</span>
      <select id="size_drop_down">
        <option value="Small">Small</option>
        <option value="Large">Large</option>
      </select>
      <br/>
      <span>Add on:</span>
      <select id="addon_drop_down">
        <option value="cheese">Cheese</option>
        <option value="1_topping">1 topping</option>
        <option value="2_toppings">2 toppings</option>
        <option value="3_toppings">3 toppings</option>
        <option value="special">Special</option>
      </select>
      <br/>
      <template id="topping_tem">
        <span>Topping: </span>
        <select id="topping_drop_down">
          {% for topping in toppings %}
            <option value="{{ topping }}">{{ topping }}</option>
          {% endfor %}
        </select>
        <br/>
      </template>
      <button>add to order list</button>
    </td>
  </tr>
</template>
<template id="sub_tem">
  {% for sub in subs %}
    <tr>
      <td>
        <span class="{{ sub }}">{{ sub.size }} {{ sub.name }}</span><br/>
        <span class="{{ sub }}">${{ sub.price }}</span>
        <button id="{{ sub }}" class="add_order_butt">add to order list</button>
      </td>
    </tr>
  {% endfor %}
</template>
<template id="pas_tem">
  {% for pasta in pastas %}
    <tr>
      <td>
        <span class="{{ pasta }}">{{ pasta.name }}</span><br/>
        <span class="{{ pasta }}">${{ pasta.price }}</span>
        <button id="{{ pasta }}" class="add_order_butt">add to order list</button>
      </td>
    </tr>
  {% endfor %}
</template>
<template id="sal_tem">
  {% for salad in salads %}
    <tr>
      <td>
        <span class="{{ salad }}">{{ salad.name }}</span><br/>
        <span class="{{ salad }}">${{ salad.price }}</span>
        <button id="{{ salad }}" class="add_order_butt">add to order list</button>
      </td>
    </tr>
  {% endfor %}
</template>
<template id="din_tem">
  {% for din in dins %}
    <tr>
      <td>
        <span class="{{ din }}">{{ din.size }} {{ din.name }}</span><br/>
        <span class="{{ din }}">${{ din.price }}</span>
        <button id="{{ din }}" class="add_order_butt">add to order list</button>
      </td>
    </tr>
  {% endfor %}
</template>
<template id="order_list_item_1">
  <tr id="tr_0" class="tr_right">
    <td>
      <span id="order_list_span_name"></span><br/>
      <span>Quantity: 1</span><br/>
      <span>Price: </span><span id="order_list_span_price"></span>
    </td>
  </tr>
</tempate>
</body>
</html>
